*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      135deg,
      rgb(34, 195, 88, 0.9) 0%,
      rgb(4, 11, 49, 0.99) 100%
    ),
    url("/images/faculty.jpg");
}
.hidden {
  display: none;
}

.peocock {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 8%;
  right: 5%;
  z-index: -1;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

main > h1,
main > h2 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 8vw;
  opacity: 0;
  text-shadow: 0 0 5px white;
  text-wrap: nowrap;
}

/* main > h2 {
  animation: textAnimation1 linear forwards 3s;
} */

main > h2:nth-of-type(1) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 8s;
}

main > h2:nth-of-type(2) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 11s;
}

main > h2:nth-of-type(3) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 14s;
}
main > h2:nth-of-type(4) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 19s;
}
main > h2:nth-of-type(5) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 22s;
}
main > h2:nth-of-type(6) {
  animation: textAnimation1 linear forwards 3s;
  animation-delay: 25s;
}

main > h1 {
  width: 90%;
  display: flex;
  font-size: 2vw;
  justify-content: center;
  opacity: 1;
}

main > h1 > strong:nth-of-type(1) {
  transform: translateX(-1000px);
  animation: st1 linear 1s 9s forwards;
}

main > h1 > strong:nth-of-type(2) {
  transform: translateY(-1000px);
  animation: st2 linear forwards 1s 10s;
}

main > h1 > strong:nth-of-type(3) {
  opacity: 0;
  animation: st3 linear forwards 1s 11s;
}

#resource {
  width: 100%;
  height: 100vh;
  padding: 20%;
}

.resource-headline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 8vw;
  text-align: center;
  margin-bottom: 10%;
  color: aliceblue;
}

.resource-items {
  display: flex;
  flex-direction: column;
}

/* .resource-item {
  margin: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #023e8a;
  border-radius: 5px;
  color: aliceblue;
} */

.resource-item {
  margin: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(
    2,
    62,
    138,
    0.8
  ); /* Use rgba for background color with transparency */
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}

.resource-item:hover {
  background-color: rgba(2, 62, 138, 0.9); /* Darken the background on hover */
}

.common {
  background-color: #03045e;
}

@keyframes textAnimation1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
    filter: blur(10px);
  }
  30%,
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    filter: blur(10px);
  }
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  text-align: center;
  user-select: none;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 2rem;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s ease-in-out;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
